#root {
  width: 100svw;
  height: 100svh;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: papayawhip;
  justify-content: center;
  display: flex;
}

#page {
  display: flex;
  width: 85%;
  max-width: 1280px;
  min-width: 720px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

#sidebar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background-color: darkslategray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#viewport {
  height: 100%;
  width: 100%;
  flex: 1;
  margin: 0;
  display:flex;
  flex-direction: column;
}

h2 {
  padding: 0;
  margin: 0 1rem 2rem;
  text-align: left;
  justify-self: left;
  color: whitesmoke;
}

.room-link {
  background-color: slategrey;
  margin: .4rem 0;
  padding: 0.5rem 1rem;
  font-size: .8em;
  color: white;
}

.student-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  margin:1rem;
  padding:0;
  overflow-y: scroll;
  height:min(fit-content,100%);
}

.classroom-name {
  text-align: left;
  padding-left: 2rem;
  margin-bottom: 0;
}